/* Configurações padrões de nossas páginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  main{
    width: 100%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .container{
    width: 100%;
    height: 100%;
  }
  
  /* Parte principal */
  .conteudo_principal{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .conteudo_principal .lado_esquerdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  
  .conteudo_principal .lado_esquerdo .texto_principal{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .conteudo_principal .lado_esquerdo .texto_principal h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1.5rem;
  }
  
  .conteudo_principal .lado_esquerdo .texto_principal p{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.5rem;
  }
  
  .conteudo_principal .lado_esquerdo .area_botao{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    margin: 10px 0 0 20px;
  }
  
  .conteudo_principal .lado_esquerdo .area_botao button{
   background: #4d57ef;
   width: 20em;
   height: 4em;
   border: none;
   border-radius: 20px;
   color: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .conteudo_principal .lado_esquerdo .area_botao button:hover{
    transform: scale(1.03);
    transition:all 0.3s ease;
    background: #2d38b3;
    cursor: pointer;
  }
  .conteudo_principal .lado_esquerdo .area_botao button a{
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
   font-weight: 500;
  }
  
  .conteudo_principal .lado_direito{
    width: 50%;
    height: 100%;
  }
  .conteudo_principal .lado_direito .imagem_principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  .conteudo_principal .lado_direito .imagem_principal img{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    -webkit-mask-image: linear-gradient(to right, transparent 0.8%, black 50%);
  }
  
  
  /* Parte resumo do projeto */
  .sessao_resumo_projeto{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sessao_resumo_projeto .lado_esquerdo{
    margin: 1rem;
    width: 50%;
    height: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sessao_resumo_projeto .lado_esquerdo .parte_texto h3{
    margin: 0 20px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .sessao_resumo_projeto .lado_esquerdo .area_botao{
    height: 2em;
    display: flex;
    align-self: center;
    margin: 1rem 0;
  }
  
  .sessao_resumo_projeto .lado_esquerdo .area_botao button{ 
    background: #4d57ef;
    width: 20em;
    height: 4em;
    border: none;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .sessao_resumo_projeto .lado_esquerdo .area_botao button:hover{ 
    transform: scale(1.03);
    transition:all 0.3s ease;
    background: #5f6ae1;
    cursor: pointer;
  }
  
  .sessao_resumo_projeto .lado_esquerdo .area_botao button a{ 
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  
  .sessao_resumo_projeto .lado_direito{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sessao_resumo_projeto .lado_direito .parte_imagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  .sessao_resumo_projeto .lado_direito .parte_imagem img{
    width: 100%;
    height: 100%;
  }
  
  /* Parte dos cards */
  .sessao_cards{
    width: 100%;
    height: 30rem;
    display: flex;
  }
  .sessao_cards .conteudos_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .sessao_cards .conteudos_cards .card{
    transition: all 0.3s ease-in-out;
    width: 21%;
    height: 23rem;
    background:   #4f58ee;
    border-radius: 20px;
    padding: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_cards .conteudos_cards .card:hover{
    transform: scale(1.03);
    transition:all 0.3s ease;
     box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  }
  .sessao_cards .conteudos_cards .card .icone_card{
    width: 100%;
    height: 5em;
    margin: 5px;
  }
  
  .sessao_cards .conteudos_cards .card .texto_card p{
    padding: 1rem;
    height: 10em;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .sessao_cards .conteudos_cards .card .area_botao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .sessao_cards .conteudos_cards .card .area_botao button{
    background: #4d57ef;
    width: 20em;
    height: 4em;
    border: none;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_cards .conteudos_cards .card .area_botao button i a{
    color: #fff;
  }
  .sessao_cards .conteudos_cards .card .area_botao button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Sessao vantagens */
  .sessao_vantagens{
    width: 100%;
    height: 25rem;
    margin: 3rem 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  #2D39B3;
  }
  
  .sessao_vantagens .lado_esquerdo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
  }
  .sessao_vantagens .lado_esquerdo .parte_texto{
    padding: 10px;
  }
  .sessao_vantagens .lado_esquerdo .parte_texto h3{
    font-size: 40px;
    font-weight: 600;
    margin: 20px;
    color: #fff;
  }
  
  .sessao_vantagens .lado_esquerdo .area_botao button{
    background: #4f58ee;
    width: 20em;
    height: 3.2em;
    border: none;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_vantagens .lado_esquerdo .area_botao button:hover{
    background: #737EFF;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    transition:all 0.3s ease;
  }
  .sessao_vantagens .lado_esquerdo .area_botao button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .sessao_vantagens .lado_direito{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_esquerdo{ 
    background: #FFD026;
    border-radius: 20px;
    margin: 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_esquerdo:hover{ 
    transform: scale(1.03);
    transition:all 0.3s ease;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_esquerdo h3{ 
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_direito{ 
    background: #4f58ee;
    border-radius: 20px;
    margin: 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_direito:hover{ 
    transform: scale(1.03);
    transition:all 0.3s ease;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima .lado_direito h3{ 
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
  
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_esquerdo{ 
    background: #4f58ee;
    border-radius: 20px;
    margin: 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_esquerdo:hover{ 
    transform: scale(1.03);
    transition:all 0.3s ease;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_esquerdo h3{ 
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_direito{ 
    background: #FFD026;
    border-radius: 20px;
    margin: 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_direito:hover{ 
    transform: scale(1.03);
    transition:all 0.3s ease;
  }
  .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo .lado_direito h3{ 
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
  
  /* Parte responsiva */
  
  @media (max-width: 1250px){
    /* Parte principal */
    .conteudo_principal .lado_esquerdo .area_botao{
        height: 30%;
        align-items: center;
    }
    .conteudo_principal .lado_esquerdo .texto_principal h1{
        font-size: 2rem;
        margin: 1.5rem;
    }
    
    .conteudo_principal .lado_esquerdo .texto_principal p{
        font-size: 1.3rem;
        margin: 1.5rem;
    }
    /* Sessão cards */
    .sessao_cards .conteudos_cards .card{
        width: 25%;
        height: 25rem;
    }
    .sessao_cards .conteudos_cards .card .area_botao{
        height: 5rem;
    }
    /* Sessão vantagens */
    .sessao_vantagens .lado_esquerdo .parte_texto h3{
        font-size: 2rem;
        margin: 1rem;
        text-align: center;
    }
    .sessao_vantagens .lado_direito .mini_cards_vantagens{
        width: 30rem;
    }
  }
  
  @media (max-width: 999px){
    /* Parte cards */
    .sessao_cards{
        width: 100%;
        height: 90em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sessao_cards .conteudos_cards{
        flex-direction: column;
    }
    .sessao_cards .conteudos_cards .card{
        width: 25rem;
        height: 25rem;
        padding: 0;
        gap: 0;
        margin: 0 0 3rem;
    }
    .sessao_cards .conteudos_cards .card .texto_card p{
        align-items:center;
        justify-content: center;
    }
  
  }
  
  @media (max-width: 950px){
    /* Parte principal */
    .conteudo_principal{
        margin: 3.9rem 0 0;
        height: 80vh;
    }
  
  }
  
  @media (max-width: 850px){
    /* Sessão sobre o projeto */
    .sessao_resumo_projeto .lado_esquerdo .area_botao{
        margin: 2rem 0;
    }
    .sessao_resumo_projeto .lado_direito{
        display: none;
    }
  
  }
  
  @media (max-width: 830px){
    /* Sessão sobre o projeto */
    .sessao_resumo_projeto .lado_esquerdo{
        width: 100%;
        margin: 0;
    }
    .sessao_resumo_projeto .lado_esquerdo .parte_texto h3{
        margin: 0;
        text-align: center;
        padding: 15px;
    }
    /* Sessão vantagens */
    .sessao_vantagens .lado_esquerdo{
        width: 100%;
        height: 50%;
    }
    .sessao_vantagens .lado_direito{
        width: 100%;
        height: 50%;
    }
  }
  
  
  @media (max-width: 700px){
    /* Parte principal */
    .conteudo_principal{
        height: 70vh;
    }
    
    .conteudo_principal .lado_esquerdo{
        width: 100%;
    }
  
    .conteudo_principal .lado_esquerdo .texto_principal{
        align-items: center;
        justify-content: center;
    }
  
    .conteudo_principal .lado_esquerdo .texto_principal h1{
        font-size: 2.5rem;
        font-weight: 600;
        margin: 1.5rem;
        text-align: center;
    }
  
    .conteudo_principal .lado_esquerdo .texto_principal p{
        font-size: 1.8rem;
        font-weight: 600;
        margin: 1.5rem;
        text-align: center;
    }
  
    .conteudo_principal .lado_esquerdo .area_botao{
        margin: 0;
        justify-content: center;
        height: 20%;
    }
    
    .conteudo_principal .lado_direito{
        display: none;
    }
  
  }
  
  @media (max-width: 650px){
   /* Sessão vantagens */
   .sessao_vantagens{
        height: 45rem;
        margin: 0;
        flex-direction: column;
    }
    .sessao_vantagens .lado_esquerdo{
        width: 100%;
        height: 50%;
    }
    .sessao_vantagens .lado_direito{
        width: 100%;
        height: 50%;
    }
    .sessao_vantagens .lado_direito .mini_cards_vantagens{
        width: 50rem;
        height: 22rem;
    }
    .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_de_cima{
        height: 20rem;
    }
    .sessao_vantagens .lado_direito .mini_cards_vantagens .parte_debaixo{
        height: 20rem;
    }
  }
  
  @media (max-width: 550px){
    /* Parte principal */
    .conteudo_principal .lado_esquerdo .texto_principal h1{
        margin: 0;
    }
  
    .conteudo_principal .lado_esquerdo .texto_principal p{
        margin: 0;
    }
  }
  
  @media (max-width: 450px){
    /* Sessão cards */
    .sessao_cards .conteudos_cards .card{
        width: 20rem;
    }
  
    .sessao_cards .conteudos_cards .card .area_botao{
      margin-top: 30px;
    }
  
    /* Parte vantagens */
    .sessao_vantagens {
        height: 60rem;
    }
    .sessao_vantagens .lado_direito .mini_cards_vantagens{
        height: 35rem;
        gap: 0;
        margin: 0;
    }
  
  }
  @media (max-width: 350px){
   /* Parte principal */
   .conteudo_principal{
    height: 80vh;
    }
    /* Sessão resumo projeto */
    .sessao_resumo_projeto{
        height: 50rem;
    }
   /* Sessão cards */
   .sessao_cards{
    width: 18rem;
    height: 100rem;
    align-items: center;
    justify-content: center;
    }
   .sessao_cards .conteudos_cards .card{
    width: 18rem;
    height: 30rem;
    }
  }